{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
        <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    </head>
    <body>
        <nav class="shadow-lg">
            <div class="container flex flex-wrap justify-between items-center mx-auto">
                <a href="" class="flex">
                   <img class="h-10 mr-3 " src="{% static "images/wallet2.png" %}" alt=""> 
                   <span class="self-center text-xl font-semibold ">Expense Tracker </span>
                <a/>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>